:root {
    --wrapper-w: 100vw;
    --wrapper-h: 100vh;
    --gap: 3px;
    --margins: 30px;
    --noOfColumns: 5;

    --noOfGaps: calc(var(--noOfColumns) - 1);
    --rowHeight: calc((var(--wrapper-w) - (2 * var(--margins)) - (var(--noOfGaps) * var(--gap))) / var(--noOfColumns));

    --headerHeight: calc(var(--wrapper-h) / 10);


    --menuButtonDiameter: calc(var(--wrapper-h) / 9);
    --subMenuButtonDiameter: calc(2 * var(--menuButtonDiameter) / 3);
    --sticksWidth: calc(var(--menuButtonDiameter) / 2.43);
    --sticksHeight: calc(var(--menuButtonDiameter) * 0.04);
}

body {
    font-family: 'Rubik', sans-serif;
    min-width: 300px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background-color: rgba(0,0,0,0.5);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.post-modal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 13; /* 1px higher than the overlay layer */
}

.modal-overlay.active {
    opacity: 1;
    transform: scale(1);
}

header {
    position: fixed;
    top: 0;
    height: var(--headerHeight);
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5vw;
}

header img {
    height: calc(var(--headerHeight) / 2);
}

header img.logo {
    content: url("icons/logo.svg");
    transition: flex 1s;
}

header button.user {
    color: #fff;
}

header img.user-photo {
    content: url("icons/ulad.png");
}

button {
    border: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: calc(var(--headerHeight) / 4);
    height: 100%;
    background: none;
}

button span{
    display: inline-block;
    vertical-align: middle;
}

button:focus {
    outline:none;
}

.round {
    border-radius: 50%;
}

.user-photo {   
    border-radius: 50%;
    width: calc(var(--headerHeight) / 2);
    height: calc(var(--headerHeight) / 2);
    margin-left: 10px;
}

.menu-btn {
    width: var(--menuButtonDiameter);
    height: var(--menuButtonDiameter);
    display: block;
    position: relative;
    z-index: 3;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    width: var(--sticksWidth);
    height: var(--sticksHeight);
    position: absolute;
    top: 50%; margin-top: calc(-1 * calc(var(--sticksHeight) / 2));
    left: 50%; margin-left: calc(-1 * calc(var(--sticksWidth) / 2));
    background-color: #fff;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.menu-btn span::before {
    transform: translateY(calc(-1 * calc(var(--menuButtonDiameter) / 7)));
}

.menu-btn span::after {
    transform: translateY(calc(var(--menuButtonDiameter) / 7));
}

.menu-btn.active span {
    height: 0;
}

.menu-btn.active span:before {
    transform: rotate(-45deg);
    transform-origin: center;
}
.menu-btn.active span:after {
    transform: rotate(45deg);
    transform-origin: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2;
}

.menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--subMenuButtonDiameter);
    height: var(--subMenuButtonDiameter);
    border-radius: 50%;
    transition: 0.4s;
    position: absolute;
    left: calc(50% - calc(var(--subMenuButtonDiameter) / 2));
    top: calc(50% - calc(var(--subMenuButtonDiameter) / 2));
    z-index: 2;
    font-size: calc(var(--subMenuButtonDiameter) / 2)
}

.menu button:nth-child(1) {
    transition-delay: 0.1s;
}
.menu button:nth-child(2) {
    transition-delay: 0.2s;
  
}
.menu button:nth-child(3) {
    transition-delay: 0.3s;
}

.menu.active button:nth-child(1) {
    transform: translate(-150%, 0%);
}
.menu.active button:nth-child(2) {
    transform: translate(-100%, -100%);
}
.menu.active button:nth-child(3) {
    transform: translate(0%, -150%);
}

footer {
    position: relative;
    width: 100%;
    height: var(--headerHeight);
    margin-top: calc(calc(-1 * var(--headerHeight)) + 10px);
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #03a9f4;
    color: white;
    box-sizing: border-box;
}

footer:hover{
    background: #035a83;
}

.show-more-btn span {
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s;
}

.show-more-btn span.left {
    transform-origin: right bottom;
    transform: rotate(0deg);
}

.show-more-btn span.right {
    transform-origin: left bottom;
    transform: rotate(0deg);
}

footer:hover .show-more-btn span.right{
    transform-origin: left bottom;
    transform: rotate(-30deg);
}

footer:hover .show-more-btn span.left{
    transform-origin: right bottom;
    transform: rotate(30deg);
}

.show-more-btn {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
}


@media screen and (max-width: 600px) {
    :root {
        --menuButtonDiameter: calc(var(--wrapper-h) / 10);
        --subMenuButtonDiameter: calc(2 * var(--menuButtonDiameter) / 3);
        --sticksWidth: calc(var(--menuButtonDiameter) / 2.43);
        --sticksHeight: calc(var(--menuButtonDiameter) * 0.04);
    }

    header img.logo {
        content: url("icons/logo-mobile.svg");
    }

    main {
        margin: calc(var(--headerHeight) + 10px) 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .post img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .post-overlay {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    main {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(var(--noOfColumns), 1fr);
        grid-auto-flow: dense;
        grid-auto-rows: minmax(var(--rowHeight), auto);
        grid-gap: var(--gap);
        margin: calc(var(--headerHeight) + 10px) var(--margins);
    }

    .post {
        position: relative;
        margin: 0;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        overflow: hidden;
    }

    .post img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .post.span-col2 {
        grid-column-end: span 2;
    }

    .post.span-row2 {
        grid-row-end: span 2;
    }

    .post.span-col3 {
        grid-column-end: span 3;
    }

    .post.span-row3 {
        grid-row-end: span 3;
    }

    .post-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;
        transition: background-color .15s ease-in-out;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #03a8f400;
        color: rgba(255, 255, 255, 0);
    }

    .post-overlay:hover {
        background: #03a8f4b9;
        color: #fff;
    }
}

.light-blue{
    background-color: #03a9f4;
    color: #fff;
}


.text-light-blue{
    color: #03a9f4;
}

.text-white {
    color: #fff;
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}